* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#footer > div {
  /* border: 1px solid blue; */
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  margin-top: 7rem;
  padding: 2rem;
  background-color: #0561c8;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#footer > div > div > p:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
  /* text-decoration: underline; */
  color: #ffffff;
  text-decoration-color: #edeef0;
}

#footer > div > div > a > p {
  color: #ffffff;
  font-size: 20px;
  margin-top: 0.8rem;
}

h2 {
  color: #fffc13;
}

#footer > div > div > div {
  display: flex;
  margin-top: 0.8rem;
}

#footer > div > div > div > p {
  font-size: 20px;
  margin-left: 0.7rem;
  margin-top: 0.2rem;
}

#footer > div > div > div > p > a {
  color: white;
}

img {
  width: 1.7rem;
  border-radius: 0.3rem;
}

#lastC {
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  padding: 0.7rem;
  display: flex;
  justify-content: space-around;
  background-color: #0561c8;
  color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
