* {
  box-sizing: border-box;
}

.mainDiv {
  background-color: steelblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  overflow: hidden;
  border-radius: 2rem;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background: white;
  border-radius: 2rem;
}

.fill {
  background-image: url("https://source.unsplash.com/random/150x150");
  height: 145px;
  width: 145px;
  cursor: pointer;
  border-radius: 2rem;
}

.hold {
  border: solid 3px #ccc;
  /* border-radius: 2rem; */
}

.hovered {
  background-color: #333;
  border-color: white;
  border-style: dashed;
  border-radius: 2rem;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}
